
.pres{
    display: flex;
    justify-content: center;
}

/* #region Header*/
header {
    background-color: rgb(5, 32, 66);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* #region Left*/
header #left {
    display: flex;
    justify-self: flex-start;
    align-self: flex-end;
    flex-wrap: wrap;
    position: sticky;
    right: 100%;
}

header #left img {
    width: 6%;
    height: auto;
}
/* #endregion */

header #center {
    display: flex;
    align-self: center;
    position: sticky;
    right: 45%;
}

/* #region right */

#right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: sticky;
    left: 95%;
}

/* #region flags */

#flags {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
}

#flags img{
    width: auto;
    height: 17px;
}

#flags a:last-child{
    margin-left: 3%;
}

/* #endregion */

/* #endregion */

/* #endregion */

/* #region footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height : 20%;
    background-color: purple;
}

footer #infos{
    display:flex;
    justify-self: flex-start;
    flex-direction: column;
    margin-left: 1%;
}

footer #contact{
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
    margin-right: 1%;
}

footer #contact #reseaux{
    display:flex;
    flex-direction: row;
}

footer img{
    width: auto;
    height: 80%;
}
/* #endregion */

/* #region others */
body {
    display: flex;
    flex-direction: column;
    background-color: violet;
}
p,h2,a,h3,h1{
    color: white;
    font-family: Ubuntu;
}

a{
    text-decoration: none;
}

#pres{
    font-size: large;
    color: white;
}

.titre, .met{
    display: flex;
    justify-content: center;
}

a:hover {
    color: red;
}
/* #endregion */
header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: purple;
}